.ext-home-multiforum
  margin: 0 auto

  .ext-forum-card-container
    position: relative
    display: flex
    flex-wrap: wrap
    justify-content: center

  .ext-forum-card
    margin: 10px
    width: 380px
    display: flex

    .card-block
      display: flex
      flex-direction: column
      width: 100%

    .card-title
      margin-top: 0

    .card-text
      flex-grow: 2

    .btn
      align-self: flex-start
